<div class="chat-plugin" data-bind="ifnot: settings().hide_portal_button">
  <a data-bind="click: openChatBox, style: mainIconStyle" class="main-icon">
    <span class="unread-indicator" data-bind="style: unreadIndicatorStyle">*</span>
    <!-- <img src="/plugins/chat-plugin/images/question.png" class="normal" alt=""> -->
    <i class="fa fa-comments normal" data-bind="style: faIconStyle">&nbsp;</i>
    <!-- <img src="/plugins/chat-plugin/assets/images/question-o.png" class="active" alt=""> -->
  </a>
  <div class='chat-box' data-bind="style: chatBoxStyle">
    <a data-bind="click: closeChatBox" class='close'>
      <i class="fa fa-close" style="color:white;">&nbsp;</i>
    </a>
    <h4>
      <img src="/public/plugins/chat-plugin/images/chat-support.png" alt="" style="width: 25px;margin: 0px 10px;">
      Chat With Admin
    </h4>
    <div class="conversation">
      <ul class="list">
        <!-- ko foreach: chats -->
        <li data-bind="attr: {id: $data.id}">
          <div class="message" data-bind="class: $parent.messageClass($data), css: {'new-message': $data.new}, style: {border: $data.new ? '3px solid #5cb85b' : ''}">
            <strong class="sender">
              <span data-bind="text: $parent.formatSender($data)"></span>
            </strong>
            <pre class="text" data-bind="text: $data.message"></pre>
            <small class="time" data-bind="text: $parent.formatDate($data.created_at)"></small>
          </div>
        </li>
        <!-- /ko -->
        <li data-bind="ifnot: chats().length">
          <p> Loading messages ...</p>
        </li>
        <li>
          <a class="message load-more" style="border-radius: 5px; display: inline-block; width: 100%; text-align: center;" data-bind="if: chats().length < totalChats(), click: loadMore">
            <span class="text">Load more ...</span>
          </a>
        </li>
      </ul>
    </div>

    <div class="send-msg-con">
      <form data-bind="click: sendMessage" class="form">
        <div class="input-group">
          <textarea required data-bind="value: message" name="message" id="chat_message" placeholder="Message ..." class="form-control" rows="1" data-bind="style: textAreaStyle"></textarea>
          <button
            type="submit" class="input-group-btn" style="
                                                         margin: 4px;
                                                         min-width:45px;
                                                         border: none;
                                                         background: transparent;
                                                         outline: none;
                                                         font-size: 30px;
                                                         color: #209e91;
                                                         display:inline-block;
                                                         padding:0;
                                                         ">
            <span class="send-icon">
              <i class="fa fa-chevron-circle-right">&nbsp;</i>
            </span>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
