<div class="row">
  <div class="col-md-12">
    <div
      ba-panel
      ba-panel-title="Chat Plugin Settings"
      ba-panel-class="with-scroll"
      class="chat-plugin"
      >
      <form name='form' ng-submit="submit()">
        <div class="legend">Captive Portal Icon</div>
        <div class="panel panel-primary" style="padding: 10px;">
          <div style="display: block">
            <code id="chat-icon">
            {{icon === 'chat.png' ? icon + '(default)' : icon  }}
            </code>
            <div class="align-item: center">
              <img style="width: 100px; padding: 5px;" ng-src="/plugins/chat-plugin/assets/images/icon/{{icon}}"
              >
              <div class="btn btn-sm btn-primary" name="file" ngf-select="uploadIcon($file)" ngf-pattern="'image/*'" ngf-accept="'image/*'" title="Change new Icon" >
                <span class="fa fa-pen"></span>
              </div>
              <div class="btn btn-info   btn-sm" ng-click="restoreIcon()" title="Restore Default Icon">
                <span class="fa fa-undo-alt "></span>
              </div>
            </div>
          </div>
          
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="input-demo checkbox-demo">
              <label class="checkbox-inline custom-checkbox nowrap">
                <input type="checkbox" ng-model="$parent.hide_portal_button">
                <span>
                  Hide icon in Captive Portal
                  <i>(Temporary disable portal chat)</i>
                </span>
              </label>
            </div>
          </div>
        </div>
        <br/>
        <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary">Save Changes</button>
      </form>
    </div>
  </div>
</div>